
body {
    margin: 0%;
    margin-left: 15px;
    margin-right: 15px;
    background: #F8F8FF;
    font-family: sans-serif;
}
/* .raz {
    overflow: auto;
  }

.raz div {
    float: right;
    white-space: nowrap;
  } */

.c1 {
    position: absolute;
    right: 0;
}
table, th, td
{
    text-align: center;
}

th
{
    width: 200px;
}
.title
{
    margin: 0%;
    color: #2F4F4F;
    font-size: 40px;
    font-family:century gothic, Arial, sans-serif;
    font-weight: bold;

}
.links
{
    color: #4682B4;
}
.text
{
    color: #2F4F4F;
    font-size: 30px;

}
.text2
{
    color: #2F4F4F;
    font-size: 20px;
}
.text3
{
    color: #2F4F4F;
    font-size: 13px;
}
.tabl
{
    color: #2F4F4F;
    font-size: 40px;
}
.c {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #4682B4;
}
.c1 {
    position: absolute;
    right: 0;
    padding: 5px 15px;
    color: #4682B4;
}
.c:hover, .c1:hover {
    color: rgb(4, 37, 53);
}
.from, .to, .date1, .date2, .email {
    padding: 10px;
    width: 200px;
    color: #000;
    font-size: 18px;
    background: #d5f0ff;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 10px;
}


.from:hover, .to:hover, .date1:hover, .date2:hover{
    border: 1px solid #0fc3f5;
}

.trip {
    margin-left: 147px;
    display: inline-block;
    overflow: hidden;
}
.form_radio_group-item {
    display: inline-block;

}
.trip input[type=radio] {
    display: none;
}
.trip label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    font-weight: bold;
    line-height: 34px;
    border: 1px solid rgb(178, 231, 255);
    border-right: none;
    user-select: none;
}
.trip .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}
.trip .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid rgb(178, 231, 255);
}
/* Checked */
.trip input[type=radio]:checked + label {
    background: #6eb3db;
    color: #fff;
    font-weight: bold;

}

/* Hover */
.trip label:hover {
    color: #666;

}
.submit {
    padding: 10px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;

    border: none;
    background: #6eb3db;

    border-radius: 30px;
}

.submit:hover {
    background: #258aa8;
}

.schedule1 {
    text-align: center;
    color: #2F4F4F;
    font-size: 13px;
}

.block {

    text-align: center;
    color: #2F4F4F;
    font-size: 13px;
    background: #ffffff;
    outline: none;
    border: 1px solid rgb(114, 234, 255);
    box-sizing: border-box;
    border-radius: 10px;
}