<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <!--    <link rel="stylesheet" href="style.css" >-->
</head>
<body>
<form action="/login/process" , method="post"/>
<div class="form">
    <h1>Вход</h1>
    <div>
        Email: <input name="email" type="email">
    </div>
    <div>
        Password: <input name="password" type="password">
    </div>
    <div class="input-form">
        <input type="submit" value="Войти">
    </div>
    <a href="#" class="forget">Забыли пароль?</a>
</div>

</body>
</html>